body {
    font-family: courier;
    background-color: powderblue;
    text-align: center;
}

#dogData     {
    width: 60%;
    margin: auto;
    border: 3px dotted black;
    background: white;
    padding: 15px;
    background-clip: padding-box;
    position: relative;
    top: 20%;
    transform: translateY(-50%);
}

/* Formatting input textbox */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input {
    border:1px solid rgba(0, 195, 255, 0.53)
}

/* Decent easy table css */
table {  
    color: #333;
    width: 400px; 
    border-collapse:  collapse; 
    border-spacing: 0; 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
td, th {  
    border: 1px solid transparent; /* No more visible border */
    height: 30px; 
    transition: all 0.3s;  /* Simple transition for hover effect */
}
th {  
    background: #DFDFDF;  /* Darken header a bit */
    font-weight: bold;
}
td {  
    background: #FAFAFA;
    text-align: center;
}
/* Cells in even rows (2,4,6...) are one color */        
tr:nth-child(even) td { background: #F1F1F1; } 
/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */        
tr:nth-child(odd) td { background: #FEFEFE; }  
tr td:hover { background: #666; color: #FFF; } 
/* End of table css */
h1,
h2,
inputs {
    font-variant: small-caps;
    text-align: center;
}


#myDiv {
    display: none;
    text-align: center;
}